html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #1e1e1e;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Utilities */

/* Utilities Flex */

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

/* End Utilities Flex */

/* Text */

.text-light {
  font-weight: 300;
}

.text-uppercase {
  text-transform: uppercase;
}

/* End Text */

/* End Utilities */

.content {
  background-color: #edebec70;
  padding: 80px 100px;
}

.title h2 {
  color: #454344;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
  position: relative;
  padding-bottom: 8px;
}

.title h2::after {
  content: '';
  background: #403e3f;
  height: 2px;
  width: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.timeline {
  position: relative;
  border-left: 2px solid #626262;
}

.timeline .event {
  padding: 24px 0 24px 24px;
  position: relative;
}

.timeline .event .event-date {
  flex: 0 0 30%;
}

.timeline .event::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -7px;
  height: 12px;
  width: 12px;
  z-index: 12212;
  border-radius: 50%;
  background: #626262;
}

.timeline .event .event-title {
  font-weight: 500;
  margin: 0 0 8px;
  font-size: 1.1rem;
}

.section-content {
  margin: 40px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Header */

header {
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 2px solid #3d3d3d;
}

header h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 500;
  line-height: 1;
}

header .job-title {
  font-weight: 300;
  margin-top: 8px;
}

header .personal-info {
  flex: 0 0 35%;
  padding: 0;
  list-style: none;
  text-align: right;
}